<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'" text="Group"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" [collapse]="true">
      <ion-button>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="requestCompleted">
      <div class="ion-padding-horizontal">
        <h2>{{group.groupName}}</h2>
      </div>

      <ion-list class="ion-margin-bottom ion-no-padding">
        <ion-item-divider>
          CheckedIn Players
        </ion-item-divider>

        <ion-item (click)="presentActionSheet(player)" *ngFor="let player of group.players | checkedIn : true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{player.userName}}</h2>
            <p>{{player.status.isTraining ? 'Training' : 'Not Training'}} | 
            {{player.status.isAvailable ? 'Free for Pick up' : 'Can\'t play pick up'}} | 
            {{player.status.leavingAt ? ('till' + player.status.leavingAt | date : "shortTime") :"NA"}}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="success">
              <ion-icon name="ellipse" [color]="player.status.isAvailable ? 'primary' : 'danger'"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-list class="ion-margin-vertical">
        <ion-item-divider>
          Inactive Players
        </ion-item-divider>

        <ion-item *ngFor="let player of group.players | checkedIn : false" (click)="presentActionSheet()">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{player.userName}}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="medium">
              <ion-icon name="ellipse"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-button *ngIf="!checkedIn" expand="block" class="status-btn" (click)="handleCheckIn()">
        CheckIn
      </ion-button>
      <ion-button *ngIf="checkedIn" expand="block" color="danger" class="status-btn" (click)="handleCheckOut()">
        CheckOut
      </ion-button>

  </div>

</ion-content>
    
  