<ion-header>
  <ion-toolbar>
    <ion-title>
      What's your status?
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="hideModal()">Dismiss</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">What's your status?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true" [formGroup]="statusFormGroup">
    <ion-list-header class="ion-margin-vertical">
      What are you doing?
    </ion-list-header>

    <ion-radio-group formControlName="isTraining">
      <ion-item>
        <ion-radio [value]="true" justify="space-between">Training</ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-radio [value]="false" justify="space-between">Nothing</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list [inset]="true" [formGroup]="statusFormGroup">
    <ion-list-header class="ion-margin-vertical">
      What's your availability?
    </ion-list-header>

    <ion-radio-group formControlName="isAvailable">
      <ion-item>
        <ion-radio [value]="true" justify="space-between">Free for Pick up</ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-radio [value]="false" justify="space-between">Not Free for Pick up</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list [inset]="true" [formGroup]="statusFormGroup">
    <ion-list-header class="ion-margin-vertical">
      When will you leave?
    </ion-list-header>

    <ion-datetime presentation="time" formControlName="leavingAt"></ion-datetime>
  </ion-list>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="updateStatus()">
    Update
  </ion-button>
</ion-footer>